.container{
    background-color:var(--clr-background-1);
    display:  grid;
    grid-template-columns: [full-start] minmax(14rem ,auto)  [col-start] repeat(12, minmax(min-content, 12rem)) minmax(14rem ,auto) [full-end];
    grid-column-gap: 3rem;
    height: 100vh;
    grid-template-rows:15vh 85vh;
    position: relative;
  
}

.splitContainer{
  background-color:red;
  grid-column: 1 / -1;
//   display: flex;
    
  
}

.inputsContainer{
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color:var(--clr-background-2);
 z-index: 2;

}

.registerImage{
   width: auto;
  height: 100%;
}