.nav{

grid-column:  2 / 14;
height: 12rem;
 

  ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;  
    
  }
 
  a{
    color: var(--clr-primary-1);
    font-size: 2.2rem;
    display:flex;
    align-items:center; 
    position:relative;
    transition: all 0.3s;
    padding: 0.8rem 1rem;

 


  }
 

}

.link{
  position:relative;
  transition: all 0.3s;
  overflow: hidden; 
}

.link:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 0;
  left: -50%;
  background-color:var(--clr-primary-1);
  transition: all  0.5s;
  z-index: 2;
}


.link:after{
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  bottom: 0;
  right:-50%;
  z-index: 2;
  background-color:var(--clr-primary-3);
  transition: all  0.5s;
  
  
}

.link:hover:before{
  left: 50%;
 }
 


 
 .link:hover:after{
  right: 50%;
 }
 



.linksContainer{
  display: flex;
  
  li{
    margin-left: 1rem;
    transition: var(--transition);
    
    &:hover{
      background-color:#5e5b5b;
      border-radius: 5px;
      .icon{
        color:var(--clr-primary-1);
      }
      a{
        color:var(--clr-primary-3)
      }
    }
  }

}


.logo{
    width: 20rem;
 
}

.icon{
 
    z-index: 1;
    font-size:2.2rem;
    margin-right: 1rem;
    color:#fff;
}


.iconCart{
  font-size:2.6rem;
   margin-right: 0.5rem;
  color:#fff;
  
  
}



.linkCart{
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  // background-color:red;
  

  &:hover{

    .iconCart{
      color:var(--clr-primary-1);
    }
    .cartText{
      background-color: var(--clr-primary-3);
      color:var(--clr-primary-1);
    }

  }
}


.cartText{
  position: absolute;
  top: -1.2rem;
  right: -0.2rem;
  font-size:1.2rem;
  font-weight:bold;
  
  border-radius:50%;
  background-color: var(--clr-primary-1);
  padding: 0.6rem 1rem;
  border-radius:50%;
  color: var(--clr-primary-3);

}



.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}