

.title{
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.paraFlex{
    font-size: 1.8rem;
    border:1px dotted rgba(0,0,0,1);
}


.label{
    display: inline-block;
    width: 20rem;
    padding:0.5rem;
    background-color: #e2dfdf;
  
}
.labelText{
    // background-color: var(--clr-primary-3);
    // padding:0.4rem 1rem;
    // border-radius:5px;
  
    font-size: 1.8rem;

    
}

