.titleContainerSingle{
    position: relative;
}

.title{
    font-size: 2.6rem;
 
}

.paraFlex{
    font-size: 1.8rem;
    border:1px dotted rgba(0,0,0,1);
}


.label{
    display: inline-block;
    width: 20rem;
    padding:0.5rem;
    background-color: #e2dfdf;
  
}
.labelText{
    
    font-size: 1.8rem;

    
}

.priceContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 2rem;
}



